
 
.open-sans-normal {
  font-family: "Open Sans", serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
/* header styles */
.fast-container{
  display: flex;
  justify-content: space-between;
  background-color: #C6E4D6;
  border-radius: 10px;
  border: none;
  text-align: center;
  align-items: center;
  margin: 50px 30px;
  padding: 50px 40px;
}
.container-2{
  max-width: 700px;
  align-items: center;
  text-align: left;
}
/* p styles */
.subtitle{
  color: #6c757d;
  font-size: 20px;
  margin-bottom: 10px;
}

header div h1{
  font-size: 55px;
  margin-bottom: 20px;
}
/* button styles */
.fast-button{
  background-color: #006A50;
  color: #fff;
  margin: none;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  padding: 10px 20px;
}
/* button hover */
button:hover{
  background-color: #004d00;
}
/* about bangladesh styles */
.Bangladesh{
  margin: 50px 30px;
  justify-content: center;
  padding: 32px;
}
.about-bangladesh{
  display: flex;
  gap: 24px;
}
.about-1{
  background-color: #c0d7ff;
  border-radius: 10px;
  padding: 32px;
}
.about-2{
  background-color: #9cffd2;
  border-radius: 10px;
  padding: 32px;
}
.about-3{
  background-color: #ffdf94;
  border-radius: 10px;
  padding: 32px;
}
/* btn styles */
.btn-1{
  background-color: #5490F5;
  border: none;
  border-radius: 5px;
  padding: 11px 20px;
}
.btn-2{
  background-color: #09A15C;
  border: none;
  border-radius: 5px;
  padding: 11px 20px;
}
.btn-3{
  background-color: #FFC239;
  border: none;
  border-radius: 5px;
  padding: 11px 20px;
}
.yunus-sir{
  background-color: #f0eeee;
  border-radius: 10px;
  background-image:url(../quote-bg.png) ;
  background-repeat: no-repeat;
  background-position: top left;
  margin: 30px 0px;
  padding: 50px 40px;
  justify-content: space-between;
}
.News{
  justify-content: center;
  text-align: left;
  margin: 50px 30px;
  padding: 50px 40px;
}
.fast-news{
  background-color:#f0eeee ;
  border-radius: 10px;
  display: flex;
  padding: 32px 40px;
}
.setelite{
  border-radius: 10px;
}
.al-jazeera{
  padding-left: 32px;
}